
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}


body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}

a {
	text-decoration: none;
}

p {
	color: white;
	font-size: 1.4rem;
	margin-bottom: 15px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
    text-align: center;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.section-title {
	font-size: 4rem;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}

.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: #2F9E41;
}

#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}

#header .header {
	min-height: 8vh;
}

#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1400px;
	padding: 0 10px;
	background-color: black;
}

#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: black;
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}

#header .nav-list ul.active {
	left: 0%;
}

#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}

#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}

#header .nav-list ul li:hover a {
	color:#2F9E41;
}

#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}

#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}


.divCard{
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	margin: auto;
	gap: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 210px;
    padding: 25px;
    border-radius: 15px;
    background-color: black;
    text-align: justify;
    box-shadow: 10px 10px 10px black;
    position: relative;
}

.card::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #2F9E41;
    border-right: 20px solid #000000;
}

.icon {
    margin-bottom: 20px;
}

.icon img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.content {
    height: 215px;
    overflow: hidden;
    position: relative;
}

.content::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, black);
}

.content h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    position: relative;
    color:white;
}


.content p {
    color: #b7b7b7;
    font-size: 13px;
}

.read_button {
    border: none;
    padding: 10px;
    border-radius: 20px;
    margin-top: 15px;
    background-color: #2F9E41;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

.read_button:hover {
    background-color: transparent;
    color: #2F9E41;
    transition: all 0.2s ease-in-out;
}

.card.active .content {
    height: auto;
}

.card.active .content::before {
    visibility: hidden;
}

@keyframes hamburger_puls {

	0% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}

@media screen and (max-width: 1000px){
    .divCard{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 100px;
    }
}

@media screen and (max-width: 700px){
	.divCard{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 100px;
	}
}

@media only screen and (min-width: 768px) {

	h1.section-title {
		font-size: 6rem;
	}

@media only screen and (min-width: 1200px) {

	#header .hamburger {
		display: none;
	}

	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}

	#header .nav-list ul li {
		display: inline-block;
	}

	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
}
}

